extends ../../layout

block content 
    nav.navbar.mb-4.navbar-custom
        .derecha
            img(src=logoC)
            a.navbar-brand.active(href='/admin_salesman/inventory') Inventario
            a.navbar-brand(href='/admin_salesman/sales') Ventas
            - if (userDB.rol == 'duenio')
                a.navbar-brand(href='/admin_salesman/users') Usuarios
        .izquierda 
            a.navbar-brand(href='/logout') Cerrar sesión 
    nav.navbar.mb-4.navbar-custom2
        .derecha
            a.navbar-brand2(href='/admin_salesman/inventory') Mostrar inventario
            a.navbar-brand2.active2(href='/admin_salesman/inventory/allProducts') Mostrar productos
    - if (success)
        .alert.alert-success
            label(for='error') Se ha eliminado el producto.
    #centerInd3
        h1=title 
    br
    - if (userDB.rol != 'cajero')
        .addBtn.d-flex.flex-row-reverse.mx-5
            a.btn.btn-primary.d-inline-flex(href='/admin_salesman/inventory/addProduct') Agregar un producto nuevo
    br
    #table
        table.table.table-hover 
            thead 
                tr 
                    th ID
                    th Nombre
                    th Precio
                    th Tipo
                    th Genero
                    th Descripcion
                    - if (userDB.rol != 'cajero')
                        th 
                    - if (userDB.rol != 'cajero')
                        th 
            
            tbody 
                each dt in data
                    tr
                        td=dt.id
                        td=dt.nombre
                        td=dt.precio
                        td=dt.tipo
                        td=dt.genero
                        td=dt.descripcion
                        - if (userDB.rol != 'cajero')
                            td 
                                a(href ='allProducts/' + dt.id + '/editProduct') Editar 
                            td 
                                form.inline(method='post' action= 'allProducts/'+ dt.id + '/delete')
                                    input(type='hidden' name='id' value= dt.id)
                                    button.link-button.btn.btn-danger(type='submit' name='submit_param' value='submit_value' class='btn')
                                        = 'Eliminar'

block scIcon
    link(rel="shortcut icon", href=logoC)