extends ../../layout

block content 
    nav.navbar.mb-4.navbar-custom
        .derecha
            img(src='../../assets/logoC.png')
            a.navbar-brand.active(href='/admin_salesman/inventory') Inventario
            a.navbar-brand(href='/admin_salesman/sales') Ventas
            a.navbar-brand(href='/admin_salesman/sales') Usuarios
        .izquierda 
            a.navbar-brand(href='/login') Cerrar sesión 
    nav.navbar.mb-4.navbar-custom2
        .derecha
            a.navbar-brand2(href='/admin_salesman/inventory') Mostrar inventario
            a.navbar-brand2.active2(href='/admin_salesman/inventory/allProducts') Administrar productos
            a.navbar-brand2(href='/admin_salesman/inventory/add') Agregar producto
    #centerInd
        h1=title 
    br
    #table
        table.table.table-hover 
            thead 
                tr 
                    th ID
                    th Nombre
                    th Precio
                    th Tipo
                    th Genero
                    th Descripcion
                    th 
                    th 
            
            tbody 
                each dt in data
                    tr
                        td=dt.id
                        td=dt.nombre
                        td=dt.precio
                        td=dt.tipo
                        td=dt.genero
                        td=dt.descripcion
                        td 
                            a(href ='allProducts/' + dt.id + '/editProduct') Editar 
                        td 
                            form.inline(method='post' action= 'allProducts/'+ dt.id + '/delete')
                                input(type='hidden' name='id' value= dt.id)
                                button.link-button.btn.btn-danger(type='submit' name='submit_param' value='submit_value' class='btn')
                                    = 'Eliminar'