extends ../../layout

block content 
    #centerInd
        h1=title 
        br
        a(href='/admin_salesman/inventory') Regresar
    br
    #table
        table.table 
            thead 
                tr 
                    th ID
                    th Nombre
                    th Precio
                    th Tipo
                    th Genero
                    th Descripcion
                    th 
                    th 
            
            tbody 
                each dt in data
                    tr
                        td=dt.id
                        td=dt.nombre
                        td=dt.precio
                        td=dt.tipo
                        td=dt.genero
                        td=dt.descripcion
                        td 
                            a(href ='allProducts/' + dt.id + '/editProduct') Editar 
                        td 
                            form.inline(method='post' action= 'allProducts/'+ dt.id + '/delete')
                                input(type='hidden' name='id' value= dt.id)
                                button.link-button(type='submit' name='submit_param' value='submit_value' class='btn')
                                    = 'Eliminar'