extends ../../layout 

block content
    nav.navbar.mb-4.navbar-custom
        .derecha
            img(src='../../../../assets/logoC.png')
            a.navbar-brand.active(href='/admin_salesman/inventory') Inventario
            a.navbar-brand(href='/admin_salesman/sales') Ventas
            a.navbar-brand(href='/admin_salesman/users') Usuarios
        .izquierda 
            a.navbar-brand(href='/login') Cerrar sesión
    nav.navbar.mb-4.navbar-custom2
        .derecha
            a.navbar-brand2(href='/admin_salesman/inventory') Mostrar inventario
            a.navbar-brand2.active2(href='/admin_salesman/inventory/allProducts') Administrar productos
            a.navbar-brand2(href='/admin_salesman/inventory/add') Agregar producto
    #centerInd
        h1=title
        br
        
    
    
      
    form(action=`/admin_salesman/inventory/allProducts/${data.id}/editProduct` method='POST')
        #table
            table.table.table-hover
                tr 
                    td
                        label(for='nombre') Nombre:
                    td
                        input#nombre.form-control(type='text' name='nombre' value=data.nombre)
                tr
                    td
                        label(for='precio') Precio (MXN):
                    td
                        input#precio.form-control(type='text' maxlength='9' name='precio', value=data.precio)
                tr 
                    td
                        label(for='tipo') Tipo de prenda:
                    td
                        input#tipo.form-control(type='text' name='tipo' value=data.tipo)
                tr  
                    td
                        label(for='genero') Genero (H / M):
                    td
                        input#genero.form-control(type='text' maxlength='10' name='genero', value=data.genero)
                tr 
                    td
                        label(for='descripcion') Descripcion:
                    td
                        textarea#descripcion.form-control(name="descripcion", cols="30", rows="10")=data.descripcion
                tr
                    td 
                    td
                        input.btn.btn-success(type='submit' value='Actualizar')
    #centerInd 
        a.btn.btn-danger(href='/admin_salesman/inventory/allProducts') Cancelar