extends ../../layout 

block content
    nav.navbar.mb-4.navbar-custom
        .derecha
            img(src='../../../../assets/logoC.png')
            a.navbar-brand.active(href='/admin_salesman/inventory') Inventario
            a.navbar-brand(href='/admin_salesman/sales') Ventas
            - if (userDB.rol == 'duenio')
                a.navbar-brand(href='/admin_salesman/users') Usuarios
        .izquierda 
            a.navbar-brand(href='/logout') Cerrar sesión
    nav.navbar.mb-4.navbar-custom2
        .derecha
            a.navbar-brand2(href='/admin_salesman/inventory') Mostrar inventario
            a.navbar-brand2.active2(href='/admin_salesman/inventory/allProducts') Administrar productos
            - if (userDB.rol != 'cajero')
                a.navbar-brand2(href='/admin_salesman/inventory/add') Agregar producto
    - if (errors.length > 0)
        .alert.alert-danger
            label(for='error') Se han encontrado los siguientes errores:
            ul
                each dt in errors 
                    li 
                        label(for='error')="["+dt.param+"]: "+dt.msg
    - if (success)
        .alert.alert-success
            label(for='error') Se ha acualizado el producto.
    #centerInd3
        h1=title
        br
        
    
    
      
    form(action=`/admin_salesman/inventory/allProducts/${data.id}/editProduct` method='POST')
        #table
            table.table.table-hover
                tr 
                    td
                        label(for='nombre') Nombre:
                    td
                        input#nombre.form-control(type='text' name='nombre' value=data.nombre)
                tr
                    td
                        label(for='precio') Precio (MXN):
                    td
                        input#precio.form-control(type='text' maxlength='9' name='precio', value=data.precio)
                tr 
                    td
                        label(for='tipo') Tipo de prenda:
                    td
                        select.form-select.text-center(name="tipo" id="tipo")
                            option(value='short' selected = selectedType == 1)='Short'
                            option(value='playera' selected = selectedType == 2)='Playera'
                            option(value='pantalon' selected = selectedType == 3)='Pantalon'
                            option(value='accesorio' selected = selectedType == 4)='Accesorio'
                tr  
                    td
                        label(for='genero') Genero:
                    td
                        select.form-select.text-center(name="genero" id="genero")
                            option(value='M' selected = selectedGenero == 2)='M'
                            option(value='H' selected = selectedGenero == 1)='H'
                tr 
                    td
                        label(for='descripcion') Descripcion:
                    td
                        textarea#descripcion.form-control(name="descripcion", cols="30", rows="10")=data.descripcion
                tr
                    td 
                    td
                        input.btn.btn-success(type='submit' value='Actualizar')
    #centerInd 
        a.btn.btn-danger(href='/admin_salesman/inventory/allProducts') Cancelar

block scIcon
    link(rel="shortcut icon", href="../../../../assets/logoC.png")