extends ../../layout 

block content
    nav.navbar.mb-4.navbar-custom
        .derecha
            a.navbar-brand.active(href='/admin_salesman/inventory') Inventario
            a.navbar-brand(href='/admin_salesman/sales') Ventas
            a.navbar-brand(href='/admin_salesman/sales') Usuarios
        .izquierda 
            a.navbar-brand(href='/login') Cerrar sesión
    nav.navbar.mb-4.navbar-custom2
        .derecha
            a.navbar-brand2.active2(href='/admin_salesman/inventory') Mostrar inventario
            a.navbar-brand2(href='/admin_salesman/inventory/allProducts') Administrar productos
            a.navbar-brand2(href='/admin_salesman/inventory/add') Agregar producto
    #centerInd
        h1=title 
    
    
    form(action=`/admin_salesman/inventory/${data.id}/edit` method='POST')
        #table
            table.table.table-hover
                tr 
                    td
                        label(for='nombre') nombre:
                    td
                        label(for='nombreN')=data2.nombre
                tr 
                    td
                        label(for='tipo') Tipo de prenda:
                    td
                        label(for='tipoN')=data2.tipo
                tr  
                    td
                        label(for='precio') Precio (MXN):
                    td
                        label(for='precio')='$'+data2.precio
                tr
                    td
                        label(for='genero') Genero:
                    td
                        label(for='generoN')=data2.genero
                tr
                    td
                        label(for='talla') Talla:
                    td
                        input#talla.form-control(type='text' maxlength='9' name='talla' value=data.talla)
                tr 
                    td
                        label(for='cantidad') Cantidad de prendas:
                    td
                        input#cantidad.form-control(type='text' maxlength='9' name='cantidad', value=data.cantidad)
                tr
                    td 
                    td
                        input.btn.btn-success(type='submit' value='Actualizar')

    #centerInd 
        a.btn.btn-danger(href='/admin_salesman/inventory') Cancelar