extends ../../layout


block content
    nav.navbar.mb-4.navbar-custom
        .derecha
            img(src=logoC)
            a.navbar-brand(href='/admin_salesman/inventory') Inventario
            a.navbar-brand.active(href='/admin_salesman/sales') Ventas
            - if (userDB.rol == 'duenio')
                a.navbar-brand(href='/admin_salesman/users') Usuarios
        .izquierda 
            a.navbar-brand(href='/logout') Cerrar sesión
    nav.navbar.mb-4.navbar-custom2
        .derecha
            a.navbar-brand2(href='/admin_salesman/sales') Mostrar ventas
            - if (userDB.rol == 'cajero')
                a.navbar-brand2.active2(href='/admin_salesman/sales/add') Agregar venta
    - if (errors.length > 0)
        .alert.alert-danger
            label(for='error') Se han encontrado los siguientes errores:
            ul
                each dt in errors 
                    li 
                        label(for='error')="["+dt.param+"]: "+dt.msg
    - if (success)
        .alert.alert-success
            label(for='error') Se ha agregado la venta.
    #centerInd3
        h1=title
        br
    br
    form(action='/admin_salesman/sales/add' method='POST')
        #table
            table.table.table-hover
                    tr 
                        td
                            label(for='nombre') Id del inventario:
                        td
                            input.form-control(type='number' name='id')
                    tr
                        td
                            label(for='vendedor') Vendedor:
                        td
                            select.form-select.text-center(name="selectUsuarios" id="selectUsuarios")
                                each dt in data
                                    option(value=dt.id)=dt.nombre
                    tr
                        td 
                        td
                            input.btn.btn-success(type='submit' value='Agregar venta')
                    
block scIcon
    link(rel="shortcut icon", href=logoC)