extends ../../layout

block content 
    nav.navbar.mb-4.navbar-custom
        .derecha
            img(src='../../../assets/logoC.png')
            a.navbar-brand(href='/admin_salesman/inventory') Inventario
            a.navbar-brand.active(href='/admin_salesman/sales') Ventas
            - if (userDB.rol == 'duenio')
                a.navbar-brand(href='/admin_salesman/users') Usuarios
        .izquierda 
            a.navbar-brand(href='/logout') Cerrar sesión
    nav.navbar.mb-4.navbar-custom2
        .derecha
            a.navbar-brand2.active2(href='/admin_salesman/sales') Mostrar ventas
            - if (userDB.rol == 'cajero')
                a.navbar-brand2(href='/admin_salesman/sales/add') Agregar venta
    br
    br

    #centerInd3
        h1='Detalles para la venta '+idTicket
        br
        h2='Vendedor quien registró la venta: '+vendor[0].nombre
    br
    #table
        table.table.table-hover
            thead 
                tr 
                    th Nombre
                    th Precio
                    th Tipo de prenda
            
            tbody 
                each dt in list_sold
                    tr
                        td=dt.nombre 
                        td=dt.precio
                        td=dt.tipo
    br
    #centerInd
        h2='Día, fecha y hora en la que se realizó la venta: '+timeStamp[0].created_at
        br

        a.btn.btn-primary(href='/admin_salesman/sales') Regresar

block scIcon
    link(rel="shortcut icon", href="../../../assets/logoC.png")
