extends ../../layout 

block content
    #centerInd
        h1=title 
    br
    #spreadLess
        a(href='/admin_salesman') Regresar
        br
        a(href='/admin_salesman/sales/add') Agregar venta
    br
    #table
        table.table 
            thead 
                tr 
                    th ID Venta
                    th Productos por venta
                    th Fecha de la venta
                    th Nombre del vendedor
                    th Total de la venta
                    th
            
            tbody
                each dt in data
                    tr
                        td=dt.id
                        td=dt.cantidad
                        td=dt.created_at 
                        td=dt.nombre 
                        td='$'+dt.total_venta 
                        td 
                            a(href ='sales/'+dt.id+ '/details') Detalles