extends ../../layout 

block content
    nav.navbar.mb-4.navbar-custom
        .derecha
            a.navbar-brand(href='/admin_salesman/inventory') Inventario
            a.navbar-brand.active(href='/admin_salesman/sales') Ventas
            a.navbar-brand(href='/admin_salesman/sales') Usuarios
        .izquierda 
            a.navbar-brand(href='/') Cerrar sesión
    nav.navbar.mb-4.navbar-custom2
        .derecha
            a.navbar-brand2.active2(href='/admin_salesman/sales') Mostrar ventas
            a.navbar-brand2(href='/admin_salesman/sales/add') Agregar venta
    #centerInd
        h1=title 
    br
    br
    #table
        table.table.table-hover
            thead 
                tr 
                    th ID Venta
                    th Productos por venta
                    th Fecha de la venta
                    th Nombre del vendedor
                    th Total de la venta
                    th
            
            tbody
                each dt in data
                    tr
                        td=dt.id
                        td=dt.cantidad
                        td=dt.created_at 
                        td=dt.nombre 
                        td='$'+dt.total_venta 
                        td 
                            a(href ='sales/'+dt.id+ '/details') Detalles