extends ../layoutClientes 

block content
    nav.navbar.mb-4.navbar-custom
        .derecha
            a(href='/clientes')
                img(src=logoC)
            a.navbar-brand(href='/clientes') Inicio
            a.navbar-brand(href='/clientes/ropa-hombre') Hombre
            a.navbar-brand(href='/clientes/ropa-mujer') Mujer
            a.navbar-brand(href='/clientes/visit-us') Visítanos
            a.navbar-brand(href='/clientes/about-us') Quiénes somos
        .izquierda 
            a.navbar-brand(href='/') 
    //br
    //br

    #centerIndCli
        //h1=title
    
    //br
    //br
    .part1
        .img1
            img(src=imgs.ph1, alt="img1")
        .img2 
            img(src=imgs.ph2, alt="img2") 
        .img3
            img(src=imgs.ph3, alt="img3") 
        .img4
            img(src=imgs.ph4, alt="img3") 
    
    #frase 
        h2 "La elegancia es la única belleza que nunca desaparece."
        h3 -Audrey Hepburn 
    
    #p2 
        p   
            | Estamos en todo momento buscando lo último de la moda, así siempre usarás estilos distintos de lo más top del momento. Entra y checa nuestra ropa que está en nuestras tiendas y visítanos.
    

    .part2 

block imgLog 
    .centerLog
        img(src=logoC)

block scIcon 
    link(rel="shortcut icon", href=logoC)