extends ../layoutClientes 

block content
    nav.navbar.mb-4.navbar-custom
        .derecha
            a(href='/clientes')
                img(src='../assets/logoC.png')
            a.navbar-brand(href='/clientes') Inicio
            a.navbar-brand(href='/clientes/ropa-hombre') Hombre
            a.navbar-brand(href='/clientes/ropa-mujer') Mujer
            a.navbar-brand(href='/clientes/visit-us') Visítanos
            a.navbar-brand(href='/clientes/about-us') Quiénes somos
        .izquierda 
            a.navbar-brand(href='/') 
    br
    br
    #centerInd
        h1=title
    br
    br
    .productosPart 
        each dt in data
            .product 
                img(src='../assets/productMen/square.png')
                .datosProducto 
                    .desc
                        h2=dt.nombre
                    .precio 
                        label(for='descripcion')=currSign+dt.precio+' '+curr.currency+'.'
                    .aButton
                        a.btn.btn-primary(href ='product-detail/'+dt.id+ '/info') Detalles

block select
    .d-flex.justify-content-center
        .d-inline-flex.p-2.align-items-center
        | Moneda: 
        form(method='post' action= 'ropa-mujer')
            select.form-select.text-center.mx-3(name="currencySelect" id="currency" class='currency')
                option(value='EUR' selected = selectedCur == 1)='EUR'
                option(value='MXN' selected = selectedCur == 2)='MXN'
                option(value='USD' selected = selectedCur == 3)='USD'
                option(value='CLP' selected = selectedCur == 4)='CLP'
                option(value='ARS' selected = selectedCur == 5)='ARS'
            button.link-button.btn.btn-primary(type='submit' name='submit_param' value='submit_value' class='btn')
                                        = 'Cambiar moneda'
    
block imgLog 
    .centerLog
        img(src='../assets/logoC.png')

block scIcon 
    link(rel="shortcut icon", href="../assets/logoC.png")